@model Fashion.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class ="col-md-6">
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>
        <p>
            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </dl>
</div>


    <div class="col-md-6">
        <p>@Html.ActionLink("Up Hình", "UploadImage", new { id = Model.ID }, new { @class = "btn btn-primary" })</p>
        
        @if (Model.Images.Count == 0)
        {
            <h3>Chưa có hình ảnh cho sản phẩm này ...</h3>
        }
        else
        {
            foreach (var item in Model.Images)
            {
                <a class="thumbnail col-md-5" href="#"><img src="../../@item.Link" /></a>
            }
        }
        <h3>@ViewBag.Status</h3>
    </div>
    