<!doctype html>
 
<html lang="en" ng-app="Store" ng-controller="HomeCtrl as vm">
<!--<![endif]-->
<head>
    <title>AGK FASHION - Thời Trang Trẻ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--meta info-->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/ico" href="~/Content/images/fav.ico">

       @Styles.Render("~/css")
    
</head>
    <body>
        <div class="boxed_layout relative w_xs_auto">
            <header role="banner">
                @Html.Partial("~/Views/Shared/_Header.cshtml")
                <section class="h_bot_part container">
                    <div class="clearfix row">
                        <div class="col-lg-6 col-md-6 col-sm-4 t_xs_align_c">
                            <a href="~/" class="logo m_xs_bottom_15 d_xs_inline_b">
                                <img src="~/Content/images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8 t_align_r t_xs_align_c">
                            <ul class="d_inline_b horizontal_list clearfix t_align_l site_settings">
                                
                                @Html.Partial("/Views/Shared/_Cart.cshtml")
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="menu_wrap relative">
                    <div class="container clearfix">
                        <button id="menu_button" class="r_corners centered_db d_none tr_all_hover d_xs_block m_bottom_10">
                            <span class="centered_db r_corners"></span>
                            <span class="centered_db r_corners"></span>
                            <span class="centered_db r_corners"></span>
                        </button>
                        <nav role="navigation" class="f_left f_xs_none d_xs_none">
                            <ul class="horizontal_list main_menu clearfix">
                                <li class="relative f_xs_none m_xs_bottom_5"><a href="~/" class="tr_delay_hover color_light tt_uppercase"><b>Trang Chủ</b></a></li>
                                <li class="relative f_xs_none m_xs_bottom_5">
                                    <a href="~/SanPham/DanhMuc/1" class="tr_delay_hover color_light tt_uppercase"><b>Danh Mục Sản Phẩm</b></a>
                                    @Html.Action("Category", "Home")
                                   
                                </li>
                                <li class="relative f_xs_none m_xs_bottom_5">
                                    <a href="~/SanPham/DanhMuc/1" class="tr_delay_hover color_light tt_uppercase"><b>Thương Hiệu Nổi Tiếng</b></a>
                                    @Html.Action("Brand", "Home")
                                </li>
                                <li class="relative f_xs_none m_xs_bottom_5"><a href="contact.html" class="tr_delay_hover color_light tt_uppercase"><b>Liên Hệ</b></a></li>

                         </ul>
                        </nav>
                        <button class="f_right search_button tr_all_hover f_xs_none d_xs_none btn-d">
                            <b> Tìm Kiếm </b>
                        </button>
                    </div>
                    <div class="searchform_wrap tf_xs_none tr_all_hover">
                        <div class="container vc_child h_inherit relative">
                            <form role="search" class="d_inline_middle full_width">
                                <input type="text" ng-model="$key" name="search" placeholder="Nhập từ khóa để tìm kiếm..." class="f_size_large">
                            </form>
                            <button class="close_search_form tr_all_hover d_xs_none color_dark">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                </section>
            </header>
           
            <div class="page_content_offset">
                @RenderBody()
           
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
                        <span class="d_inline_middle">
                            <img class="d_inline_middle m_md_bottom_5" src="~/Content/images/banner_img_3.png" alt="">
                            <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                <b>Đảm bảo 100%</b><br><span class="color_dark">Chất Lượng</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
                        <span class="d_inline_middle">
                            <img class="d_inline_middle m_md_bottom_5" src="~/Content/images/banner_img_4.png" alt="">
                            <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                <b>Miễn Phí Chuyển Hàng</b><br><span class="color_dark">Mọi Sản Phẩm</span>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
                        <span class="d_inline_middle">
                            <img class="d_inline_middle m_md_bottom_5" src="~/Content/images/banner_img_5.png" alt="">
                            <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                <b>Tri Ân Khách Hàng</b><br><span class="color_dark">Giảm 10% </span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
            <p></p>
            <footer id="footer">
                <div class="footer_bottom_part">
                    <div class="container clearfix t_mxs_align_c">
                        <p class="f_left f_mxs_none m_mxs_bottom_10">&copy; 2014 <span class="color_light">AGK GROUP</span>. All Rights Reserved.</p>
                        <ul class="f_right horizontal_list clearfix f_mxs_none d_mxs_inline_b">
                            <li><img src="~/Content/images/payment_img_1.png" alt=""></li>
                            <li class="m_left_5"><img src="~/Content/images/payment_img_2.png" alt=""></li>
                            <li class="m_left_5"><img src="~/Content/images/payment_img_3.png" alt=""></li>
                            <li class="m_left_5"><img src="~/Content/images/payment_img_4.png" alt=""></li>
                            <li class="m_left_5"><img src="~/Content/images/payment_img_5.png" alt=""></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        
        

        @Html.Partial("/Views/Shared/_Login.cshtml")
        @Html.Partial("/Views/Shared/_PopupView.cshtml")
        
        <button class="t_align_c r_corners tr_all_hover animate_ftl" id="go_to_top"><i class="fa fa-angle-up"></i></button>
        @Scripts.Render("/js")
        @Scripts.Render("~/app")


    </body>
</html>